/**********************
 Fonts
 **********************/
@font-face {
    font-family: 'hoyle_playing_cardsregular';
    src: url('../fonts/hoyle_playing_cards-webfont.woff2') format('woff2'),
         url('../fonts/hoyle_playing_cards-webfont.woff') format('woff'),
         url('../fonts/hoyle_playing_cards-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
